*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --compare-bg-section: #f6f6f6;
    --main-bg-color: black;
    --member-card-color: #3d5a80;
}

.disclaimer{
    position: absolute;
    right: 0;
    top: 0;
}

.title-big{
    font-size: 1.2rem;
}

body{
    font-family: mulish, sans-serif;
    height: 100vh;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(127deg, rgba(0,0,0,1) 0%, rgba(130,128,128,1) 100%);
}

header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 20vh;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto 10vh auto;
    padding: 2vh;
}

.intro-text{
    display: none;
}

.compare-length{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 40vh;
    border-bottom: 3px solid #d65745;
    margin: 0 auto;
}

.shaq-name-height{
    position: absolute;
    left: 10%;
    top: -3rem;
}

.your-name-height{
    position: absolute;
    right: 10%;
    top: -3rem;
}

.shaq{
    height: 100%;
    position: absolute;
    left: 5%;
    bottom: 0;
}

.manicon{
    position: absolute;
    bottom: 0;
    right: 5%;
    height: 80%;
    transition: 1s;
}

.member-section{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    gap: 1.5rem;
    height: 30vh;
}

.memberbutton:hover{
    opacity: 50%;
}

.member-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    gap: 1rem;
    background-color: transparent;
    border-style: none;
    color: white;
}

.member-avatar{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 3px solid var(--favo-kleur, none);
}

/* dialog styling */

.card[open]{
    margin: 70vh 0 0 0;
    padding: 1rem;
    width: 100vw;
    height: 30vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(127deg, rgba(0,0,0,1) 0%, rgba(130,128,128,1) 100%);
    color: white;
    border: none;
    animation: slide-dialog 0.2s linear;
}

@keyframes slide-dialog{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

.card_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog-name{
    padding: 0 0 1rem 0;
    display: flex;
    gap: 4rem;
}

.avatar-bio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-bio{
    padding: 1rem;
    width: 50%;
    height: 20vh;
    overflow: auto;
    overflow-x: hidden;
}

.close{
    background-color: lightgray;
    border: none;
    width: 4rem;
    border-radius: 10px;
    font-family: mulish, sans-serif;
    font-weight: 700;
    padding: 0.3rem;
}

.close:hover{
    opacity: 60%;
}

.modal_img{
    height: 20vh;
    border-radius: 10px;
}

.squad-links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 2rem;
}

.squad-links > li{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 6rem;
    color: black;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    padding: 0.2rem;
}

.squad-links > li:hover{
    border: 1px solid #d65745;
}

.squad-links > li > a{
    text-decoration: none;
    color: black;
    color: white;
}

.active-squad{
    background-color: #d65745;
}

.sorting{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.sorting > input{
    width: 8rem;
}

@media only screen and (min-width: 875px){

    main{
        display: flex;
    }

    header{
        width: 100vw;
        margin: 0 15% 10vh auto;
    }

    .intro-text{
        display: block;
        position: absolute;
        width: 45%;
        top: 5%;
        left: 5%;
    }

    .compare-length{
        height: 70vh;
        width: 30rem;
        max-width: 40rem;
    }

    .shaq{
        left: 0;
    }

    .manicon{
        right: 0;
    }

    .member-section{
        flex-wrap: wrap;
        width: 50%;
        height: 70vh;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-content: center;
        padding: 0 0 2rem 0;
    }

    .card[open]{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        width: 50%;
        height: 70vh;
        margin: auto 0 0 auto ;
        border-top-left-radius: 10px;
    }

    .dialog-name{
        gap: 6rem;
        padding: 1rem 0 1rem 0;
    }

    .card_sec{
        width: 100%;
    }

    .avatar-bio{
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .member-bio{
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 30rem;
        height: auto;
        max-height: 20vh;
        overflow: visible;
        margin: 0 0 3rem 0;
    }

    .modal_img{
        width: 100%;
        height: 100%;
        max-width: 19rem;
        max-height: 19rem;
        object-fit: cover;
    }
    

}